################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharpLevel2/obj
/WebDriverAdvancedTests/obj
/WebDriverAdvancedTests/bin/Debug/netcoreapp3.1
